
header {
    position: sticky;
    top: 0;
    z-index: 1;
}

#navigation_bar {
    background-color: black;
    max-width: 80%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    line-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_bar {
    list-style-type: none;
    display: flex;
}

.menu_bar li {
    margin-left: 20px;
}

.menu_bar li a {
    text-decoration: none;
    color: white;
}

.menu_bar li:hover #menu_bar_list {
    display: block;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(192, 189, 189, 0.884);
    transition: 20s;
}

#menu_bar_list ul {
    padding: 0;
    margin-left: 5px;
    margin-top: 10px;
    font-size: large;
    padding-bottom: 10px;
}

#menu_bar_list li {
    list-style: none;
    width: 160px;
    margin-top: 10px;
    display: block;
    border-bottom: 3px solid rgba(177, 170, 170, 0.613);
    line-height: 30px;
    color: black;
    margin: 0;
    text-align: center;
    padding-bottom: 5px;
}

#menu_bar_list {
    display: none;
    margin: 0;
    padding: 0;
    word-wrap: normal;

}

#menu_bar_list li a {
    color: black;


}

.nav_input_sec {
    position: relative;
    display: flex;
}

.search_icon {
    /* position: absolute; */
    margin-right: 20px;
    display: flex;
}
.nav_input_sec input {
    /* hover_prperty
     */
    /* width: 0;
    margin-right: 45px;
    padding: 0;
    height: 0; */
    /* hover_prperty_end */
    width: 180px;
    padding: 10px;
    padding-left: 20px;
    right: 120px;
    position: absolute;
    margin-top: -14px;
    display: none;
}
/* hover_prpert */
/* .nav_input_sec:hover .search_section input{
     width: 180px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 50px; 
     margin-right: 100px;

} */
.nav_input_sec button {
    margin-right: 30px;
    width: 0;
    height: 0;
    padding: 0;
    background-color: black;


}

.nav_input_sec i {
    right: 2px;
    cursor: pointer;
    font-size: x-large;
    color: white;
    top: -10px;
    position: relative;


}
.menu_bar li button{
    display: none;
}

.checkbtn {
    font-size: 30px;
    color: white;
    margin-left: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media(max-width:952px) {
    .menu_bar li a {
        font-size: small;
    }
}

@media(max-width:905px) {
    .checkbtn {
        display: block;
    }

    .menu_bar {
        position: absolute;
        width: 30%;
        height: auto;
        background-color: red;
        top: 54px;
        transition: all 0.5s;
        /* margin-left: 0; */
        display: none;
        line-height: 40px;  
    }
    .menu_bar li{
        margin-left: 15px;
        
    }
    .menu_bar li button{
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .menu_bar li button:hover{
        background-color: rgb(36, 25, 25);
        color: rgb(255, 255, 255);
        border: 1px solid white;
    }

    .menu_bar li:hover #menu_bar_list {
        background-color:rgb(253, 13, 13);
        margin-left: 30px;
        height: auto;
        border: 1px solid white;
        padding-bottom: 10px;
        
    }
    #menu_bar_list li{
        width: 110px;
        line-height: 15px;
        border-bottom: 1px solid rgb(255, 255, 255);
        text-align: center;
        height: auto;
        padding-bottom: 5px;
        margin-left: 0;
    }

    #menu_bar_list li a {
        color: aliceblue;
    }
    .checkbtn button{
        background-color: rgb(11, 8, 8);
        color: aliceblue;
        outline: 0;
        border: 0;
        font-size: 30px;
        
    }   
    .checkbtn:hover {
        display: block;
    }

    .menu_bar li {
        /* display: block; */
    }
    a:hover,
    a.active {
        background: none;
        color: white;
    }

    #check:checked~ul {
        left: 10%;
    }
}

@media(max-width:550px) {
    /* .nav_input_sec:hover .search_section input {
        width: 100px;
        padding: 0px;
        padding-left: 10px;
        padding-right: 0px;
        height: 30px;
        margin-right: 60px;
    } */
    .nav_input_sec .search_section input {
        width: 100px;
        padding: 0px;
        padding-left: 10px;
        padding-right: 0px;
        height: 30px; 
        position: absolute;
        right: 80px;
    }

    /* .nav_input_sec input {
        margin-right: 30px;
    } */

    .nav_input_sec i {
        padding-right: 10px;
    }
    .nav_input_sec .search_icon {
        margin-right: 0px;
    }
}

@media(max-width:400px) {
    /* .nav_input_sec:hover .search_section input {
        width: 80px;
        padding: 0px;
        padding-left: 5px;
        padding-right: 0px;
        height: 30px;
        margin-right: 40px;
    } */
    .nav_input_sec .search_section input {
        width: 80px;
        padding: 0px;
        padding-left: 5px;
        padding-right: 0px;
        height: 30px;
        /* margin-right: 40px; */
        position: absolute;
        right: 50px;
    }

    .nav_input_sec input {
        /* margin-right: 38px; */
    }
    .menu_bar li{
        margin-left: 0px;
        
    }
   

    .checkbtn {
        margin-left: 15px;
    }
}